body {
  margin: 0;
  padding: 0;
}

#chroma {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: #0f0;
  overflow: hidden;
}

#bug {
  /* display: block; */
  position: absolute;
  top: 65px;
  right: -15vw;
  width: 15vw;
  height: 100px;
  z-index: 10;
}

/* #bug #bug_transition {
  opacity: 0;
} */

#bug img {
  width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#video-container {
  display: none;
}

#commentators {
  width: 100%;
  height: 33vh;
  position: absolute;
  top: 100vh;
  text-align: center;
}

#commentators .commentator-name {
  width: 33vw;
  height: inherit;
  background-color: #384c7f;
  display: inline-block;
  position: absolute;
  color: #3af79f;
  text-align: center;
  border-left: 1vw #3af79f solid;
}

#commentator-title-one {
  left: 10%;
}

#commentator-title-two {
  right: 10%;
}

#commentators .commentator-name svg {
  width: 100%;
  height: inherit;
}

#commentators .commentator-name svg text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #3af79f;
  background-color: #3af79f;
}

#image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

#image-overlay img {
  min-width: 100%;
}

#webcam-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
