body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background: rgb(33, 33, 33);
  background: linear-gradient(
    0deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(66, 66, 66, 1) 100%
  );
  position: relative;
  line-height: 62px;
}

.page-footer .nav-wrapper {
  height: 64px !important;
}

#footer-nav {
  float: none;
  /* position: absolute;
  top: -18%;
  left: 50%;
  transform: translate(-50%, 0); */
  height: 64px;
}

#footer-nav li {
  width: 100px;
  height: 64px;
  overflow: hidden;
}

#footer-nav li.selected {
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(66, 66, 66, 1) 100%
  );
  border-top: 1px solid #333;
}

#footer-nav li.selected span,
#footer-nav li.selected i {
  color: #ff9100;
}

#footer-nav li span {
  position: absolute;
  top: 20px;
  transform: translate(-50%, 0);
  font-size: 12px;
  height: 12px;
}

#footer-nav li a i {
  font-size: 30px;
  line-height: 52px;
}

.brand-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-left: 1.5rem;
}

.eurofoos {
  font-size: 1.5rem !important;
}

.eurofoos span {
  font-style: italic;
  font-weight: 700;
}

#settings-button {
  margin: 0 0 10px 10px;
}

#page-control {
  display: block;
}

#page-control button {
  width: 120px;
  height: 120px;
}

#page-control button i {
  font-size: 4em;
}

.button-wrapper {
  position: relative;
  text-align: center;
}

.cp-button-caption {
  width: auto;
  overflow: hidden;
  text-align: center;
  position: absolute;
  color: white;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 10;
}

.page {
  display: none;
}

.divider {
  background-color: black !important;
  margin-bottom: 5vh;
}

#bug-preview {
  width: 400px;
}

#bug-preview img {
  max-width: 400px;
}

#stinger-preview {
  width: 400px;
}

#stinger-preview img {
  max-width: 400px;
}