body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background: rgb(33, 33, 33);
  background: linear-gradient(
    0deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(66, 66, 66, 1) 100%
  );
}

.brand-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-left: 1.5rem;
}

.eurofoos {
  font-size: 1.5rem !important;
}

.eurofoos span {
  font-style: italic;
  font-weight: 700;
}

#settings-button {
  margin: 0 0 10px 10px;
}
